<!DOCTYPE html>
<html manifest="offline.appcache">
<head>
	<meta charset='utf-8'>

	<title>chrisjacob/README @ GitHub</title>
	
	<link href="https://a248.e.akamai.net/assets.github.com/stylesheets/bundle_github.css?db3f34cf1601ea6c383e4b3eb6d7742b4da3d313" media="screen" rel="stylesheet" type="text/css">

	<style type="text/css">
		
	</style>
</head>

<body>
	<div class="site">
		<div id="readme" class="announce instapaper_body markdown" data-path="/">
			<div class="wikistyle">
				{{ content }}
			</div>
		</div>
	</div>
</body>
</html>
